@media all and (max-width:1400px) {

    #mobile-menu.hidden {
        display: none;
    }

    #mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        padding: 2rem;
        z-index: 2000;
        justify-content: normal;
    }

    body.no-scroll {
        overflow: hidden;
    }

    #close-menu {
        align-self: flex-end;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        opacity: 1 !important;
    }

    #mobile-menu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }

    #buttons__cabecalho {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        margin-right: 0;

    }

    #menu-toggle {
        display: block;
        margin-right: 3rem;
    }

    .sobre {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        padding-top: 0;
        align-items: center;
        width: 100%;
    }

    .logo-programador {
        width: 250px;
        height: 250px;
        margin-right: 0;
    }

    .sobre__descricao {
        width: 100%;
    }

    .sobre__descricao {
        & .animated-text {
            font-size: 2.5rem;
            min-width: 0;
        }
    }

    .sobre__descricao p {
        font-size: 1.5rem;
    }

    .sobre__buttons {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .arrowdown {
        margin-top: 0;
    }
}