@media all and (max-width:1919px) {
    #menu-toggle {
        display: none;
        background: none;
        border: none;
        font-size: 2rem;
    }

    .section-skills {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .skills__title {
        margin-top: 10rem;
    }

    .projects__container.swiper {
        margin-top: 0;
    }


    .container {
        background-color: #7e848663;
        display: flex;
        width: 100vw;
        padding: 2rem;
        gap: 1.5rem;
    }

    .skills__container .skills__bar {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .other-skills {
        width: 100%;
        align-items: center;

        & p {
            width: 75%;
        }
    }

    .scroller-track {
        margin-bottom: 15rem;
    }

    .skills__section {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .section {
        height: auto;
    }

}