/* SESSÃO HEADER */

#navbar {
    display: flex;
    justify-content: space-between;
}


.logo__navbar {
    width: 100px;
    height: 100px;
}

#buttons__cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 3rem;
    cursor: pointer;
}

#menu-icon {
    cursor: pointer;
}

#mobile-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & #close-menu {
        opacity: 0;
    }

}

#cabecalho__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    & #cabecalho__navbar-itens {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 6rem;
    }
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
}

#theme-switch {
    border: none;
    background-color: var(--background-color);
    cursor: pointer;
}

#theme-switch img:last-child {
    display: none;
}

.darkmode #theme-switch img:first-child {
    display: none;
}

.darkmode #theme-switch img:last-child {
    display: block;
}

#language-switch {
    border: none;
    background-color: var(--background-color);
}


/* SESSÃO SOBRE */

.sobre {
    display: flex;
    padding: 10rem;
    width: 100%;
    justify-content: space-between;
}

.sobre__descricao {
    width: 50%;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.animated-text {
    font-family: "Silkscreen", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    min-width: 500px;
    text-wrap: nowrap;

    & span {
        position: relative;

        &::before {
            content: "Desenvolvedor Frontend.";
            color: var(--text-color);
            animation: words 15s infinite;
        }

        &::after {
            content: "";
            position: absolute;
            width: calc(100% + 8px);
            height: 100%;
            background-color: var(--background-color);
            border-left: 2px solid var(--effect-color);
            right: -8px;
            animation: cursor .8s infinite, typing 15s steps(14) infinite;
        }
    }
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--text-color);
    }
}

@keyframes words {

    0%,
    20% {
        content: "Desenvolvedor Frontend."
    }

    21%,
    40% {
        content: "Gabriel Amorim."
    }

    41%,
    60% {
        content: "Frontend Developer."
    }

    61%,
    100% {
        content: "Gabriel Amorim."
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.sobre__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.sobre__buttons-links {
    display: flex;
    gap: 2rem;
}

.sobre__icons {
    display: flex;
    gap: 1rem;
}

.logo-programador {
    margin-right: 5rem;
    width: 50rem;
    height: auto;
}

.arrowdown {
    margin-top: 6rem;
    animation: floatY 3s ease-in-out infinite;
    transition: opacity 0.5s;
}

@keyframes floatY {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}


/* SESSÃO SKILLS */

/* #sessao-skills {
    background-color: #cccccc;
} */

.skills__section {
    /* padding: 4rem; */
    gap: 10;
    display: flex;
    justify-content: space-between;
}

.skills__container {
    width: 1200px;
    height: auto;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    align-items: center;
    background: var(--color-container);
    padding: 5rem;
    border: none;
    border-radius: 20px;

}

.skills__container-title {
    width: 100%;
    left: 0;
}

.skills__container .skills__bar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    align-items: center;
}

.skills__bar-image img {
    width: 40rem;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        transform: translateY(-5px);
    }
}

.skills__bar .contents {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5rem;
}

.content-skills {
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.contents .skills:not(:last-child) {
    margin-bottom: 30px;
}

.skills {
    width: 150px;
}

.skills .details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    width: 0;
    opacity: 0;
}

.skills .details.html {
    animation: html-fill 2s forwards;
}

.skills .details.css {
    animation: css-fill 2s forwards;
}

.skills .details.js {
    animation: js-fill 2s forwards;
}

.skills .details.c {
    animation: c-fill 2s forwards;
}

.skills .details.tailwind {
    animation: tailwind-fill 2s forwards;
}

.skills .details.java {
    animation: java-fill 2s forwards;
}

.skills .details.git {
    animation: git-fill 2s forwards;
}

.skills .details.bootstrap {
    animation: bootstrapp-fill 2s forwards;
}

.skills .bar {
    position: relative;
    border: 2px solid var(--text-color);
    border-radius: 20px;
}

.skills .bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: var(--text-color);
}

.bar #html-bar {
    animation: html-fill 2s forwards;
}

@keyframes html-fill {
    100% {
        width: 90%;
        opacity: 1;
    }
}

.bar #css-bar {
    animation: css-fill 2s forwards;
}

@keyframes css-fill {
    100% {
        width: 85%;
        opacity: 1;
    }
}

.bar #java-bar {
    animation: java-fill 2s forwards;
}

@keyframes java-fill {
    100% {
        width: 20%;
        opacity: 1;
    }
}

.bar #c-bar {
    animation: c-fill 2s forwards;
}

@keyframes c-fill {
    100% {
        width: 20%;
        opacity: 1;
    }
}

.bar #js-bar {
    animation: js-fill 2s forwards;
}

@keyframes js-fill {
    100% {
        width: 55%;
        opacity: 1;
    }
}

.bar #figma-bar {
    animation: figma-fill 2s forwards;
}

@keyframes figma-fill {
    100% {
        width: 45%;
        opacity: 1;
    }
}

.bar #git-bar {
    animation: git-fill 2s forwards;
}

@keyframes git-fill {
    100% {
        width: 70%;
        opacity: 1;
    }
}

.bar #tailwind-bar {
    animation: tailwind-fill 2s forwards;
}

@keyframes tailwind-fill {
    100% {
        width: 65%;
        opacity: 1;
    }
}

.bar #bootstrap-bar {
    animation: bootstrap-fill 2s forwards;
}

@keyframes bootstrap-fill {
    100% {
        width: 75%;
        opacity: 1;
    }
}

.bar #sass-bar {
    animation: sass-fill 2s forwards;
}

@keyframes sass-fill {
    100% {
        width: 60%;
        opacity: 1;
    }
}

.other-skills {
    display: flex;
    flex-flow: column;
    padding: 5rem;
    gap: 5rem;
    align-items: self-start;
    justify-content: center;
    width: 500px;
    height: auto;
}

/* #menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
} */

.soft__skills {
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.soft__list {
    display: flex;
    gap: 10rem;
    align-items: center;
    list-style: none;
}

.soft__list-content {
    display: flex;
    flex-flow: column;
    gap: 5rem;
    align-items: center;
}

.scroller-wrapper {
    overflow: hidden;
    width: 100vw;
    background-color: var(--background-color);
}

.scroller-track {
    display: flex;
    cursor: pointer;
    width: max-content;
    animation: scroll-left 30s linear infinite;
}

.scroller-wrapper:hover .scroller-track {
    animation-play-state: paused;
}

.scroller-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 0 0 auto;
    margin: 0 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--background-second-color);
    background-color: var(--auxiliar-color);
    padding: 10px 30px;
    border-radius: 25px;
    white-space: nowrap;
}

.scroller-item img {
    width: 32px;
    height: 32px;
    align-items: center;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* SESSÃO PROJETOS */

.projects__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: none;
    }
}

/* .swiper {
    overflow: visible !important;
} */

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.projects__container {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 4rem;
    align-items: center;
}

.wrapper {
    max-width: 80vw;
    margin: 20px auto;
    padding: 15px;
    overflow: hidden;
    cursor: grab;
}

.wrapper .card {
    height: auto;
    display: flex;
    flex-direction: column;
    background: var(--background-second-color);
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    margin-top: 3rem;
}

.wrapper .card:hover {
    transform: translateY(-10px);
}

.card .card-image {
    position: relative;
}

.card .card-image img {
    width: 100%;
    border-radius: 22px;
    padding: 10px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card .card-image .card-tag {
    position: absolute;
    left: 25px;
    top: 25px;
    color: var(--text-color);
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 5px 15px;
    background: var(--background-second-color);
}

.card .card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 25px 25px;
}

.card .card-content .card-text {
    color: var(--text-second-color);
    word-break: break-word;
    line-height: 1.6;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.card .card-content .card-title {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 15px;
}

.card .card-content .card-footer {
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-top: auto;
    justify-content: space-between;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.card .card-footer {
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.card .card-footer .card-profile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card .card-profile img {
    width: 32px;
    height: 32px;
    background-color: var(--background-second-color);
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card .card-profile .card-black {
    background-color: var(--text-color);
}

.card .card-profile .card-profile-info {
    display: flex;
    flex-direction: column;
}

.card .card-footer .button {
    font-size: 1.33rem;
    transition: all 0.3s ease;
}

.card .card-footer .button:hover {
    transform: translateY(-6px);
}

.wrapper .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    overflow: hidden;
    opacity: 1;
    background: var(--effect-color);
}

.wrapper .swiper-pagination-bullet-active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--text-color);
    transform: scaleX(0);
    transform-origin: left center;
    animation: autoplay-loading 5s linear forwards;
}

.aba:hover .wrapper .swiper-pagination-bullet-active::before {
    animation-play-state: paused;
}

@keyframes autoplay-loading {
    100% {
        transform: scaleX(1);
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--text-color) !important;
    margin: 3rem;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next) {
    color: var(--text-color);
    margin-top: -35px;
    transition: all 0.3s ease;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next):hover {
    color: var(--background-second-color);
}


/* SESSÃO CONTATO */

.contato {
    padding: 10rem;
    margin-top: 5em;
    background-color: #595959;
    width: 100%;
}

.contato-container {
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.contato-info,
.contato-formulario {
    flex: 1 1 40%;
}

.contato-info h2 {
    font-size: 3.32rem;
    color: var(--background-second-color);
    margin-bottom: 10px;
}

.contato-info p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: var(--background-second-color);
}

.contato-info ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
}

.butcontato {
    width: 100%;
}

.contato-info ul li {
    display: flex;
    width: max-content;
    gap: 1rem;
    margin-bottom: 10px;
}

.contato-info a {
    color: var(--background-second-color);
    text-decoration: none;
}

.redes-sociais a {
    margin-right: 15px;
    color: var(--text-second-color);
    font-weight: bold;
    text-decoration: none;
}

.contato-formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contato-formulario form {
    display: flex;
    flex-direction: column;
}

.contato-formulario input,
.contato-formulario textarea {
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
}

/* FOOTER */
.footer {
    background-color: #111;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-logo {
    height: 24px;
    width: auto;
}

.li-contato {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    color: #000000;
}

.li-contato::after {
    display: none;
}